<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= filename %></title>
    <!-- Include W3.CSS stylesheet from w3schools.com -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom CSS for styling -->
    <style>
        /* Add custom styles here */
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #4CAF50; /* Green background for header */
            color: white; /* White text color for header */
            text-align: center;
            padding: 1em 0;
        }
        section {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ddd; /* Gray border for sections */
        }
        h1{
          color: #FFFFFF
        } h2 {
            color: #4CAF50; /* Green text color for h2 elements */
        }
      </style>
    </head>
  <body>
    <header class="w3-container w3-green">
      <h1>GBA MultiBoot Server</h1>
    </header>
    <h2><%= filename %></h1>
    <h2 id="fileSize"><%= fileSize %></h2>


        <div class="w3-container">
            <div class="w3-light-grey w3-small">
                <div id="progressBar" class="w3-container w3-center w3-padding w3-green w3-text-white" style="width: 0%;"></div>
            </div>
        </div>



    <script>
      let totalFileSize = parseInt(document.getElementById('fileSize').innerText);
      let percentIncrement = 100 / totalFileSize;


      var elem = document.getElementById("progressBar");   
      var width = 0;
      var id = setInterval(frame, percentIncrement/100);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++; 
          elem.style.width = width + '%'; 
          elem.innerHTML = width * 1  + '%';
        }
      }
    </script>
  </body>
</html>