<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rom title: <%= filename %></title>
    <!-- Include W3.CSS stylesheet from w3schools.com -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom CSS for styling -->
    <style>
        /* Add custom styles here */
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #4CAF50; /* Green background for header */
            color: white; /* White text color for header */
            text-align: center;
            padding: 1em 0;
        }
        section {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ddd; /* Gray border for sections */
        }
        h1 {
            color: #FFFFFF;
        }
        h2 {
            color: #4CAF50; /* Green text color for h2 elements */
        }
      </style>
    </head>
  <body>
    <header class="w3-container w3-green">
      <h1>GBA MultiBoot Server</h1>
    </header>
    <h2>Rom title: <%= filename %></h2>
    <h2 id="fileSize"><%= fileSize %></h2>

    <div class="w3-container">
      <div class="w3-light-grey">
        <div id="progressBar" class="w3-container w3-green w3-center" style="height: 24px; width: 0%;"></div>
      </div>
    </div>

    <script>
      let totalFileSize = parseInt(document.getElementById('fileSize').innerText);
      let maxDuration = 45000; // 45 seconds

      var elem = document.getElementById("progressBar");   
      var width = 0;
      var step = + ((6 / totalFileSize)); // Adjust the step based on the file size
      elem.style.width = width + '%'
      
      function frame() {
        if (width >= 100) {
          clearInterval(interval);
          location.replace("/") 
        }else if (width == 0){
          sleep(1500);
          width += step; 
          elem.style.width = width + '%'; 
          elem.innerHTML = (width * 1).toFixed(2)  + '%'
        } else {
          width += step; 
          elem.style.width = width + '%'; 
          elem.innerHTML = (width * 1).toFixed(2)  + '%'
        }
      }

      function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
          if ((new Date().getTime() - start) > milliseconds){
          break;
          }
         }
      }

      var interval = setInterval(frame, 10);
    </script>
  </body>
</html>
